In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key

In [2]:
pop = Census(api_key, year=2017)
pop_data = pop.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
pop_pd = pd.DataFrame(pop_data)

# Column Reordering
pop_pd = pop_pd.rename(columns={"B01003_001E": "Population_2017",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
pop_pd = pop_pd[["Zipcode","Population_2017"]]
print(len(pop_pd))
pop_pd.sort_values("Zipcode")

#converting object to float
pop_pd["Zipcode"] = pop_pd.Zipcode.astype(float)
pop_pd.dtypes

133

Zipcode            float64
Population_2017    float64
dtype: object

In [3]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
pop_pd["Cities_by_Zipcodes"] = pd.cut(pop_pd["Zipcode"], bins, labels = group_names)
pop_pd

     Zipcode  Population_2017 Cities_by_Zipcodes
0    77003.0           9646.0            Houston
1    77375.0          50525.0            Tomball
2    77002.0          12370.0            Houston
3    77091.0          25277.0            Houston
4    77024.0          38110.0            Houston
5    77036.0          76605.0            Houston
6    77046.0           1029.0            Houston
7    77049.0          33749.0            Houston
8    77061.0          26276.0            Houston
9    77073.0          42780.0            Houston
10   77076.0          35144.0            Houston
11   77079.0          33577.0            Houston
12   77080.0          45665.0            Houston
13   77087.0          37200.0            Houston
14   77092.0          38476.0            Houston
15   77095.0          72081.0            Houston
16   77016.0          29597.0            Houston
17   77018.0          28073.0            Houston
18   77029.0          17894.0            Houston
19   77044.0          42665.0            Houston
20   77048.0          17143.0            Houston
21   77051.0          16661.0            Houston
22   77066.0          33796.0            Houston
23   77054.0          22517.0            Houston
24   77059.0          17374.0            Houston
25   77062.0          26583.0            Houston
26   77075.0          43586.0            Houston
27   77078.0          15820.0            Houston
28   77085.0          17981.0            Houston
29   77484.0          10710.0             Waller
..       ...              ...                ...
103  77447.0          15246.0            Hockley
104  77025.0          28922.0            Houston
105  77038.0          30653.0            Houston
106  77039.0          27972.0            Houston
107  77040.0          48273.0            Houston
108  77057.0          40130.0            Houston
109  77060.0          44549.0            Houston
110  77067.0          33489.0            Houston
111  77068.0          10897.0            Houston
112  77077.0          57757.0            Houston
113  77081.0          49059.0            Houston
114  77028.0          15725.0            Houston
115  77058.0          16669.0            Houston
116  77023.0          28528.0            Houston
117  77093.0          44428.0            Houston
118  77032.0          14443.0            Houston
119  77056.0          21732.0            Houston
120  77065.0          38820.0            Houston
121  77069.0          18238.0            Houston
122  77070.0          51080.0            Houston
123  77345.0          29090.0          Kingwood2
124  77377.0          36758.0            Tomball
125  77042.0          42098.0            Houston
126  77388.0          45841.0            Spring2
127  77043.0          25838.0            Houston
128  77089.0          52699.0            Houston
129  77033.0          29692.0            Houston
130  77064.0          49578.0            Houston
131  77099.0          51905.0            Houston
132  77201.0              0.0            Houston

[133 rows x 3 columns]

In [4]:
grouped = pop_pd.groupby(["Cities_by_Zipcodes"])
pop2017 = grouped.sum()
pop2017.sort_values("Population_2017", ascending=False)
pop2017.head()

                      Zipcode  Population_2017
Cities_by_Zipcodes
Houston             7396948.0        3124010.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12397.0
Hufsmith                  0.0              0.0

In [5]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2017.to_csv("pop_data_2017.csv", columns=["Population_2017"], encoding="utf-8", index=True)

In [6]:
#2016 population
c2016 = Census(api_key, year=2016)
census_data_2016 = c2016.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
census_pd6 = pd.DataFrame(census_data_2016)

# Column Reordering
census_pd6 = census_pd6.rename(columns={"B01003_001E": "Population_2016",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
census_pd6 = census_pd6[["Zipcode","Population_2016"]]
print(len(census_pd6))

#converting object to float
census_pd6["Zipcode"] = census_pd6.Zipcode.astype(float)
census_pd6.dtypes

133

Zipcode            float64
Population_2016    float64
dtype: object

In [7]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_pd6["Cities_by_Zipcodes"] = pd.cut(census_pd6["Zipcode"], bins, labels = group_names)

grouped6 = census_pd6.groupby(["Cities_by_Zipcodes"])
pop2016 = grouped6.sum()
pop2016.sort_values("Population_2016", ascending=False)
pop2016.head()

                      Zipcode  Population_2016
Cities_by_Zipcodes
Houston             7396948.0        3073737.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          11806.0
Hufsmith                  0.0              0.0

In [8]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2016.to_csv("pop_data_2016.csv", columns=["Population_2016"], encoding="utf-8", index=True)

In [9]:
#2015 population
c2015 = Census(api_key, year=2015)
census_data_2015 = c2015.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
census_pd5 = pd.DataFrame(census_data_2015)

# Column Reordering
census_pd5 = census_pd5.rename(columns={"B01003_001E": "Population_2015",
                                        "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
census_pd5 = census_pd5[["Zipcode","Population_2015"]]
print(len(census_pd5))

#converting object to float
census_pd5["Zipcode"] = census_pd5.Zipcode.astype(float)
census_pd5.dtypes

133

Zipcode            float64
Population_2015    float64
dtype: object

In [10]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_pd5["Cities_by_Zipcodes"] = pd.cut(census_pd5["Zipcode"], bins, labels = group_names)

grouped5 = census_pd5.groupby(["Cities_by_Zipcodes"])
pop2015 = grouped5.sum()
pop2015.sort_values("Population_2015", ascending=False)
pop2015.head()

                      Zipcode  Population_2015
Cities_by_Zipcodes
Houston             7396948.0        3030859.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12044.0
Hufsmith                  0.0              0.0

In [11]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2015.to_csv("pop_data_2015.csv", columns=["Population_2015"], encoding="utf-8", index=True)

In [13]:
#2014 population
c2014 = Census(api_key, year=2014)
census_data_2014 = c2014.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
census_pd4 = pd.DataFrame(census_data_2014)
# Column Reordering
census_pd4 = census_pd4.rename(columns={"B01003_001E": "Population_2014",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
census_pd4 = census_pd4[["Zipcode","Population_2014"]]
print(len(census_pd4))

#converting object to float
census_pd4["Zipcode"] = census_pd4.Zipcode.astype(float)
census_pd4.dtypes

133

Zipcode            float64
Population_2014    float64
dtype: object

In [14]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_pd4["Cities_by_Zipcodes"] = pd.cut(census_pd4["Zipcode"], bins, labels = group_names)

grouped4 = census_pd4.groupby(["Cities_by_Zipcodes"])
pop2014 = grouped4.sum()
pop2014.sort_values("Population_2014", ascending=False)
pop2014.head()

                      Zipcode  Population_2014
Cities_by_Zipcodes
Houston             7396948.0        2983497.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          11699.0
Hufsmith                  0.0              0.0

In [15]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2014.to_csv("pop_data_2014.csv", columns=["Population_2014"], encoding="utf-8", index=True)

In [16]:
#2013 population
c2013 = Census(api_key, year=2013)
census_data_2013 = c2013.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
census_pd3 = pd.DataFrame(census_data_2013)
# Column Reordering
census_pd3 = census_pd3.rename(columns={"B01003_001E": "Population_2013",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
census_pd3 = census_pd3[["Zipcode","Population_2013"]]
print(len(census_pd3))

#converting object to float
census_pd3["Zipcode"] = census_pd3.Zipcode.astype(float)
census_pd3.dtypes

133

Zipcode            float64
Population_2013    float64
dtype: object

In [17]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_pd3["Cities_by_Zipcodes"] = pd.cut(census_pd3["Zipcode"], bins, labels = group_names)

grouped3 = census_pd3.groupby(["Cities_by_Zipcodes"])
pop2013 = grouped3.sum()
pop2013.sort_values("Population_2013", ascending=False)
pop2013.head()

                      Zipcode  Population_2013
Cities_by_Zipcodes
Houston             7396948.0        2930055.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12022.0
Hufsmith                  0.0              0.0

In [18]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2013.to_csv("pop_data_2013.csv", columns=["Population_2013"], encoding="utf-8", index=True)

In [19]:
#2012 population
c2012 = Census(api_key, year=2012)
census_data_2012 = c2012.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
census_pd2 = pd.DataFrame(census_data_2012)

# Column Reordering
census_pd2 = census_pd2.rename(columns={"B01003_001E": "Population_2012",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
census_pd2 = census_pd2[["Zipcode","Population_2012"]]
print(len(census_pd2))

#converting object to float
census_pd2["Zipcode"] = census_pd2.Zipcode.astype(float)
census_pd2.dtypes

133

Zipcode            float64
Population_2012    float64
dtype: object

In [20]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_pd2["Cities_by_Zipcodes"] = pd.cut(census_pd2["Zipcode"], bins, labels = group_names)

grouped2 = census_pd2.groupby(["Cities_by_Zipcodes"])
pop2012 = grouped2.sum()
pop2012.sort_values("Population_2012", ascending=False)
pop2012.head()

                      Zipcode  Population_2012
Cities_by_Zipcodes
Houston             7396948.0        2883057.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12116.0
Hufsmith                  0.0              0.0

In [21]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2012.to_csv("pop_data_2012.csv", columns=["Population_2012"], encoding="utf-8", index=True)

In [22]:
#2011 population
c2011 = Census(api_key, year=2011)
census_data_2011 = c2011.acs5.get(("NAME", "B01003_001E"), {'for': 'zip code tabulation area:77001,77002,77003,77004,77005,77006,77007,77008,77009,77010,77011,77012,77013,77014,77015,77016,77017,77018,77019,77020,77021,77022,77023,77024,77025,77026,77027,77028,77029,77030,77031,77032,77033,77034,77035,77036,77037,77038,77039,77040,77041,77042,77043,77044,77045,77046,77047,77048,77049,77050,77051,77052,77054,77055,77056,77057,77058,77059,77060,77061,77062,77063,77064,77065,77066,77067,77068,77069,77070,77071,77072,77073,77074,77075,77076,77077,77078,77079,77080,77081,77082,77083,77084,77085,77086,77087,77088,77089,77090,77091,77092,77093,77094,77095,77096,77097,77098,77099,77201,77202,77203,77205,77206,77207,77208,77210,77212,77213,77215,77217,77218,77219,77220,77221,77222,77223,77224,77225,77226,77227,77228,77229,77230,77231,77233,77234,77235,77236,77237,77238,77240,77241,77242,77243,77244,77245,77248,77249,77251,77252,77253,77254,77255,77256,77257,77258,77259,77261,77262,77263,77265,77266,77267,77268,77269,77270,77271,77272,77273,77274,77275,77277,77279,77280,77281,77282,77284,77287,77288,77289,77290,77291,77292,77293,77315,77325,77336,77337,77338,77339,77345,77346,77347,77373,77375,77377,77379,77383,77388,77389,77391,77396,77401,77402,77410,77411,77413,77429,77433,77447,77449,77450,77484,77491,77492,77493,77501,77502,77503,77504,77505,77506,77507,77508,77520,77521,77522,77530,77532,77536,77547,77562,77571,77572,77586,77587,77598'})

# Convert to DataFrame
census_pd1 = pd.DataFrame(census_data_2011)

# Column Reordering
census_pd1 = census_pd1.rename(columns={"B01003_001E": "Population_2011",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
#Final DataFrame
census_pd1 = census_pd1[["Zipcode","Population_2011"]]
print(len(census_pd1))

#converting object to float
census_pd1["Zipcode"] = census_pd1.Zipcode.astype(float)
census_pd1.dtypes

133

Zipcode            float64
Population_2011    float64
dtype: object

In [23]:
bins = [77000, 77299, 77315, 77325, 77336, 77337, 77338, 77345, 77347, 77373, 77377, 77391, 77396, 77402, 77410, 77411, 77413, 77433, 77447, 77450, 77484, 77493, 77508, 77522, 77530, 77532, 77536, 77547, 77562, 77572, 77586, 77587, 77598]
group_names = ["Houston", "North Houston", "Kingwood", "Huffman", "Hufsmith", "Humble", "Kingwood2", "Humble2", "Spring", "Tomball", "Spring2", "Humble3", "Bellaire", "Cypress", "Alief", "Barker", "Cypress2", "Hockley", "Katy", "Waller", "Katy2", "Pasadena", "Baytown", "Channelview", "Crosby", "Deer Park", "Galena Park", "Highlands", "La Porte", "Seabrook", "South Houston", "Webster"]
census_pd1["Cities_by_Zipcodes"] = pd.cut(census_pd1["Zipcode"], bins, labels = group_names)

grouped1 = census_pd1.groupby(["Cities_by_Zipcodes"])
pop2011 = grouped1.sum()
pop2011.sort_values("Population_2011", ascending=False)
pop2011.head()

                      Zipcode  Population_2011
Cities_by_Zipcodes
Houston             7396948.0        2842163.0
North Houston             0.0              0.0
Kingwood                  0.0              0.0
Huffman               77336.0          12345.0
Hufsmith                  0.0              0.0

In [24]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
pop2011.to_csv("pop_data_2011.csv", columns=["Population_2011"], encoding="utf-8", index=True)

In [25]:
# Merging all csv files into one dataframe
pop2011 = pd.read_csv("pop_data_2011.csv")
pop2012 = pd.read_csv("pop_data_2012.csv")
pop2013 = pd.read_csv("pop_data_2013.csv")
pop2014 = pd.read_csv("pop_data_2014.csv")
pop2015 = pd.read_csv("pop_data_2015.csv")
pop2016 = pd.read_csv("pop_data_2016.csv")
pop2017 = pd.read_csv("pop_data_2017.csv")

merged1 = pd.merge(pop2011,pop2012)
merged2 = pd.merge(pop2013,pop2014)
merged3 = pd.merge(merged1,merged2)
merged4 = pd.merge(pop2015,pop2016)
merged5 = pd.merge(merged3,merged4)
merged_allyears = pd.merge(merged5,pop2017)
merged_allyears

,Cities_by_Zipcodes,Population_2011,Population_2012,Population_2013,Population_2014,Population_2015,Population_2016,Population_2017
0,Houston,2842163.0,2883057.0,2930055.0,2983497.0,3030859.0,3073737.0,3124010.0
1,North Houston,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kingwood,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Huffman,12345.0,12116.0,12022.0,11699.0,12044.0,11806.0,12397.0
4,Hufsmith,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Humble,31596.0,33298.0,34410.0,36257.0,38017.0,38300.0,40335.0
6,Kingwood2,64777.0,66561.0,68079.0,69975.0,69257.0,70872.0,70493.0
7,Humble2,51262.0,53077.0,54627.0,57329.0,60066.0,61719.0,63233.0
8,Spring,53728.0,55351.0,55927.0,55485.0,56942.0,59297.0,58255.0
9,Tomball,66228.0,70084.0,72710.0,75287.0,78852.0,82164.0,87283.0
10,Spring2,129639.0,134268.0,137315.0,140782.0,147656.0,152409.0,155950.0
11,Humble3,42873.0,43861.0,45778.0,47623.0,48587.0,50196.0,54352.0
12,Bellaire,17452.0,17522.0,17874.0,18130.0,18510.0,18667.0,19062.0
13,Cypress,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,Alief,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Barker,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,Cypress2,115434.0,122639.0,129876.0,136761.0,144028.0,150801.0,161407.0
17,Hockley,11941.0,12555.0,13542.0,13186.0,13616.0,15417.0,15246.0
18,Katy,154522.0,160221.0,166153.0,172719.0,180421.0,186523.0,193835.0
19,Waller,10630.0,10921.0,10898.0,11370.0,11512.0,10716.0,10710.0
20,Katy2,22815.0,22695.0,23628.0,24577.0,26013.0,27273.0,29984.0
21,Pasadena,144184.0,144644.0,146162.0,146939.0,147442.0,148895.0,150504.0
22,Baytown,84032.0,86459.0,88141.0,91019.0,92339.0,93863.0,93819.0
23,Channelview,31322.0,30853.0,30368.0,30475.0,30175.0,30635.0,31119.0
24,Crosby,24270.0,26356.0,27208.0,28394.0,28430.0,29224.0,28320.0
25,Deer Park,30588.0,30891.0,31295.0,31960.0,32531.0,32182.0,32392.0
26,Galena Park,9798.0,9975.0,9782.0,9957.0,10027.0,9999.0,10077.0
27,Highlands,10456.0,10861.0,10751.0,10720.0,10591.0,10490.0,10665.0
28,La Porte,35975.0,35787.0,36116.0,36580.0,36865.0,37031.0,37374.0
29,Seabrook,20955.0,21563.0,22044.0,22114.0,22550.0,22280.0,22182.0
30,South Houston,16515.0,16648.0,16734.0,17052.0,16868.0,16862.0,16901.0
31,Webster,23461.0,24074.0,23738.0,24538.0,23877.0,24309.0,24689.0

In [26]:
merged_allyears.drop([1,2,4,13,14,15], axis=0, inplace=True)
merged_allyears

,Cities_by_Zipcodes,Population_2011,Population_2012,Population_2013,Population_2014,Population_2015,Population_2016,Population_2017
0,Houston,2842163.0,2883057.0,2930055.0,2983497.0,3030859.0,3073737.0,3124010.0
3,Huffman,12345.0,12116.0,12022.0,11699.0,12044.0,11806.0,12397.0
5,Humble,31596.0,33298.0,34410.0,36257.0,38017.0,38300.0,40335.0
6,Kingwood2,64777.0,66561.0,68079.0,69975.0,69257.0,70872.0,70493.0
7,Humble2,51262.0,53077.0,54627.0,57329.0,60066.0,61719.0,63233.0
8,Spring,53728.0,55351.0,55927.0,55485.0,56942.0,59297.0,58255.0
9,Tomball,66228.0,70084.0,72710.0,75287.0,78852.0,82164.0,87283.0
10,Spring2,129639.0,134268.0,137315.0,140782.0,147656.0,152409.0,155950.0
11,Humble3,42873.0,43861.0,45778.0,47623.0,48587.0,50196.0,54352.0
12,Bellaire,17452.0,17522.0,17874.0,18130.0,18510.0,18667.0,19062.0
16,Cypress2,115434.0,122639.0,129876.0,136761.0,144028.0,150801.0,161407.0
17,Hockley,11941.0,12555.0,13542.0,13186.0,13616.0,15417.0,15246.0
18,Katy,154522.0,160221.0,166153.0,172719.0,180421.0,186523.0,193835.0
19,Waller,10630.0,10921.0,10898.0,11370.0,11512.0,10716.0,10710.0
20,Katy2,22815.0,22695.0,23628.0,24577.0,26013.0,27273.0,29984.0
21,Pasadena,144184.0,144644.0,146162.0,146939.0,147442.0,148895.0,150504.0
22,Baytown,84032.0,86459.0,88141.0,91019.0,92339.0,93863.0,93819.0
23,Channelview,31322.0,30853.0,30368.0,30475.0,30175.0,30635.0,31119.0
24,Crosby,24270.0,26356.0,27208.0,28394.0,28430.0,29224.0,28320.0
25,Deer Park,30588.0,30891.0,31295.0,31960.0,32531.0,32182.0,32392.0
26,Galena Park,9798.0,9975.0,9782.0,9957.0,10027.0,9999.0,10077.0
27,Highlands,10456.0,10861.0,10751.0,10720.0,10591.0,10490.0,10665.0
28,La Porte,35975.0,35787.0,36116.0,36580.0,36865.0,37031.0,37374.0
29,Seabrook,20955.0,21563.0,22044.0,22114.0,22550.0,22280.0,22182.0
30,South Houston,16515.0,16648.0,16734.0,17052.0,16868.0,16862.0,16901.0
31,Webster,23461.0,24074.0,23738.0,24538.0,23877.0,24309.0,24689.0

In [27]:
merged_allyears.set_index('Cities_by_Zipcodes',inplace=True)
merged_allyears.loc['Humble']=merged_allyears.loc['Humble']+merged_allyears.loc['Humble2']+merged_allyears.loc['Humble3']
merged_allyears.loc['Spring']=merged_allyears.loc['Spring']+merged_allyears.loc['Spring2']
merged_allyears.loc['Katy']=merged_allyears.loc['Katy']+merged_allyears.loc['Katy2']

merged_allyears=merged_allyears.drop('Humble2')
merged_allyears=merged_allyears.drop('Humble3')
merged_allyears=merged_allyears.drop('Spring2')
merged_allyears=merged_allyears.drop('Katy2')

merged_allyears=merged_allyears.rename(index={'Kingwood2':'Kingwood', "Cypress2":"Cypress"}).reset_index()

merged_allyears

,Cities_by_Zipcodes,Population_2011,Population_2012,Population_2013,Population_2014,Population_2015,Population_2016,Population_2017
0,Houston,2842163.0,2883057.0,2930055.0,2983497.0,3030859.0,3073737.0,3124010.0
1,Huffman,12345.0,12116.0,12022.0,11699.0,12044.0,11806.0,12397.0
2,Humble,125731.0,130236.0,134815.0,141209.0,146670.0,150215.0,157920.0
3,Kingwood,64777.0,66561.0,68079.0,69975.0,69257.0,70872.0,70493.0
4,Spring,183367.0,189619.0,193242.0,196267.0,204598.0,211706.0,214205.0
5,Tomball,66228.0,70084.0,72710.0,75287.0,78852.0,82164.0,87283.0
6,Bellaire,17452.0,17522.0,17874.0,18130.0,18510.0,18667.0,19062.0
7,Cypress,115434.0,122639.0,129876.0,136761.0,144028.0,150801.0,161407.0
8,Hockley,11941.0,12555.0,13542.0,13186.0,13616.0,15417.0,15246.0
9,Katy,177337.0,182916.0,189781.0,197296.0,206434.0,213796.0,223819.0
10,Waller,10630.0,10921.0,10898.0,11370.0,11512.0,10716.0,10710.0
11,Pasadena,144184.0,144644.0,146162.0,146939.0,147442.0,148895.0,150504.0
12,Baytown,84032.0,86459.0,88141.0,91019.0,92339.0,93863.0,93819.0
13,Channelview,31322.0,30853.0,30368.0,30475.0,30175.0,30635.0,31119.0
14,Crosby,24270.0,26356.0,27208.0,28394.0,28430.0,29224.0,28320.0
15,Deer Park,30588.0,30891.0,31295.0,31960.0,32531.0,32182.0,32392.0
16,Galena Park,9798.0,9975.0,9782.0,9957.0,10027.0,9999.0,10077.0
17,Highlands,10456.0,10861.0,10751.0,10720.0,10591.0,10490.0,10665.0
18,La Porte,35975.0,35787.0,36116.0,36580.0,36865.0,37031.0,37374.0
19,Seabrook,20955.0,21563.0,22044.0,22114.0,22550.0,22280.0,22182.0
20,South Houston,16515.0,16648.0,16734.0,17052.0,16868.0,16862.0,16901.0
21,Webster,23461.0,24074.0,23738.0,24538.0,23877.0,24309.0,24689.0

In [28]:
# Save combination of all years (2011-2017) to a csv
# Note to avoid any issues later, use encoding="utf-8"
merged_allyears.to_csv("pop_combined_2011-2017.csv", encoding="utf-8", index=True)